<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015122673752-qer42qfg45e2josnpdh18vb02f79io8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015122673752-qer42qfg45e2josnpdh18vb02f79io8q</string>
	<key>API_KEY</key>
	<string>AIzaSyDgKcuPxBC8IeAWTp1MEdKcBRggQRyAI6k</string>
	<key>GCM_SENDER_ID</key>
	<string>1015122673752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beSocial</string>
	<key>PROJECT_ID</key>
	<string>be-social-a6a78</string>
	<key>STORAGE_BUCKET</key>
	<string>be-social-a6a78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015122673752:ios:f15cac126129df55730a2d</string>
</dict>
</plist>